@model IList<Kusys.Entities.Student>;

@{
    Layout = "_Layout";
}

<div class="card mb-4 mt-2">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Öğrenci Listesi 
        <input type="button" class="btn btn-success ekle" value="Ekle" />
        <input type="button" class="btn btn-warning yenile" value="Yenile" />
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="studentTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>StudentId</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>BirthDate</th>
                        <th>RoleID</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>StudentId</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>BirthDate</th>
                        <th>RoleID</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.StudentId</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.BirthDate</td>
                            <td>@item.RoleID</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#studentTable').DataTable();
            $('.ekle').click(function () {
              
                  var url = "@Url.Action("Ekle", "Student")";
                window.location.href = url;
            });

            

        });
    </script>
}